#original-work {

    a {

        &.remove-work {
            display: none;
        }
    }
}

#report-lines {

    tr {

        &:first-child {

            .actions {

                #removeRow {
                    display: none;
                }
            }
        }
    }
}

table {

    &[id^="work-"] {
        cursor: pointer;

        &.collapsed {

            th {

                &.chevron {

                    i {
                        transition: transform .4s;
                        transform: rotate(180deg);
                    }
                }
            }
        }

        th {

            &.chevron {

                i {
                    transition: transform .4s;
                }
            }
        }
    }
}
