#original-work {

    a {

        &.remove-work {
            display: none;
        }
    }
}

#report-lines {

    tr {

        &:first-child {

            .actions {

                #removeRow {
                    display: none;
                }
            }
        }

        td {

            &.quantity {
                width: 15%;
            }

            &.date {
                width: 25%;
            }

            input {

                &#inputDatetime {
                    width: 87%;
                }
            }
        }
    }
}

div {

    &[id^="work-"] {
        cursor: pointer;

        &.collapsed {

            div {

                &.chevron {

                    i {
                        transition: transform .4s;
                        transform: rotate(180deg);
                    }
                }
            }
        }

        div {

            &.chevron {

                i {
                    transition: transform .4s;
                }
            }
        }
    }

    &.card {

        table {
            border-collapse: collapse;
            border: none;

            thead {
                border: none;

                tr {
                    border-top: none;

                    th {
                        border-width: 1px;
                        border-top: none;
                    }
                }
            }
        }
    }
}

#modalComment {

    .modal-header {

        .ri-xl {
            vertical-align: auto;
            line-height: 1.2em;
        }
    }

    #content {

        .body {

            p {
                margin: 0 !important;
            }
        }
    }
}
