&.autocomplete-search {

    #autocomplete-list {
        max-height: 250px;
        overflow-y: scroll;
        box-shadow: 0px 1px 8px -4px black;
        background: $white;
        z-index: 2;
        width: 100%;
        display: none;

        &.show {
            display: initial !important;
        }

        ul {
            padding: 5px 0;
            width: 80%;
            margin: 0 auto !important;
            list-style: none;

            .loading {
                width: 100%;
                display: none;
    
                .spinner {
                    @include spinner(40px);
                }
    
                &.show {
                    display: initial !important;
                }
            }

            li {
                padding: 5px 0;

                &:first-child {
                    padding-top: 0
                }

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
}